/* ---------------PAGE CSS--------------- */

body {
  margin: 0 auto;
  background-color: var(--background);
}

:root {
  --background: #141414;
  --browser_background: ;
  --browser_bar_background: ;
  --browser_bar_buttons_background: ;
  --topnav_background: #1d1d1dea;
}

/* ---------------SCROLL BAR--------------- */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(98, 98, 98);
}

/* ---------------FLOATING OBJECTS--------------- */

.floatingbutton {
  position: fixed;
  top: 200px;
  right: 0px;
  background-color: transparent;
  color: white;
  /* floating button fixed to screen */
}

.floatingMenu {
  display: none;
  position: fixed;
  top: 200px;
  right: 40px;
  z-index: 99;
  /* floating menu backbox */
}

.browser_floating {
  border-radius: 7px;
  height: 350px;
  width: 250px;
  background-color: #1e1e1edc;
  color: white;
  box-shadow: 2px 2px 10px #0f0f0f;
  /* floating menu onclick displayed browser */
}

.browser_bar_floating {
  background-color: #191919;
  height: 25px;
  border-radius: 7px 7px 0px 0px;
  border-top: rgb(47, 47, 47) 1px solid;
  border-bottom: black 1px solid;
  color: gray;
  padding-left: 25px;
  /* floating menu onclick displayed browser bar */
}

/* ---------------FONTAWESOME ICONS--------------- */

.fa-cogs {
  font-size: 3em;
  /* first browser icon */
}

.fa-address-book {
  font-size: 2.4em;
  color: #3a3a3a;
  transition: 0.4s;
  /* floating contact button icon */
}

.fa-address-book:hover {
  font-size: 2.4em;
  color: rgb(98, 98, 98);
  transition: 0.4s;
  cursor: pointer;
  /* floating contact button icon */
}

/* ---------------FONTS--------------- 
font-family: "Roboto", sans-serif;  (ALL WEIGHTS)
font-family: "Open Sans", sans-serif;  (REGULAR ONLY)
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

* {
  font-family: "Open Sans", sans-serif;
}

/* TOP NAVIGATION BAR */

.topnav a,
.sidenav a {
  text-decoration: none;
  color: white;
  padding: 0px 15px 0px 0px;
}

a {
  text-decoration: none;
  color: white;
}

.topnav_back {
  position: fixed;
  top: 0;
  z-index: 98;
  width: 100%;
  min-height: 60px;
  margin: 0 auto;
  background-color: var(--topnav_background);
  border: blue 1px solid;
}

.topnav {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 1200px;
  min-height: 60px;
  border: red 1px solid;
}

.topnav_left {
  z-index: 99;
  width: 15%;
}

.topnav_mid {
  z-index: 99;
  width: 70%;
}

.topnav_right {
  z-index: 99;
  width: 15%;
  text-align: right;
}

/* ---------------BROWSER STYLE CSS--------------- */
/* BROWSER STYLE WINDOWS CSS SETTINGS FOR MAIN BROWSER WINDOWS */

.browser {
  border-radius: 7px;
  height: 650px;
  width: 100%;
  background-color: #1e1e1e;
  color: white;
  box-shadow: 2px 2px 10px #0f0f0f;
}

.browser_content {
  display: flex;
  height: 90%;
  /* flex box for header section (3 boxes) */
}

.contentleft {
  width: 20%;
  margin-right: 10%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* left content of flex box (2boxes on top of each other) */
}
.contentright {
  width: 70%;
  align-items: center;
  margin: 0 auto;
  /* right content of flex box (1 large box) */
}

.browserright {
  margin-top: 5%;
  height: 750px;
  /* flex box settings right large flex box  */
}

.browsershort {
  height: 200px;
  margin-bottom: 30px;
  /* first flex box left settings */
}

.browsershort_sec {
  height: 550px;
  background-image: url(/portfolio_project/images/01.jpg);
  /* background-image: url(./images/01.jpg); */
  background-size: cover;
  margin: 0 auto;
  /* second flex box left settings */
}

.browsershort_sec_inside {
  margin-top: 220px;
  height: 200px;
  width: 300px;
  background-color: #1e1e1eb4;
  margin: 0 auto;
  /* flex box settings inside second flex box left settings */
}

.browser_content_sec_inside {
  height: 90%;
  margin-top: 120px;
  /* inside inside left sec flex box */
}

.browser_content_inside {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 60px;
  /* inside inside left sec flex box */
}

.browser_bar {
  display: flex;
  background-color: #191919;
  height: 30px;
  border-radius: 7px 7px 0px 0px;
  width: 100%;
  border-top: rgb(47, 47, 47) 1px solid;
  border-bottom: black 1px solid;
}

/* BUTTONS */

.browser_bar_buttons {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
  width: 60px;
  height: 20px;
  align-items: center;
}

.browser_bar_button {
  width: 12px;
  height: 12px;
  background-color: #454545;
  border-radius: 100px;
  margin-right: 5px;
}

.browser_bar_button_y {
  width: 12px;
  height: 12px;
  background-color: #e5bf29;
  border-radius: 100px;
  margin-right: 5px;
}

.browser_bar_button_r {
  width: 12px;
  height: 12px;
  background-color: #53c22b;
  border-radius: 100px;
  margin-right: 5px;
}

/* ---------------HEADER SECTION--------------- */
/* HEADER SIZE, BACKGROUND, GRADIANT, SPAZING */

.header_section {
  height: 100vh;
  background-color: #141414;
}

.header_section_content {
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  width: 1200px;
  z-index: 90;
  /* header section content */
}

.header_section_content_left {
  margin-right: 5%;
  width: 65%;
}

.header_section_content_right {
  width: 30%;
}

.header_section_placeholder {
  height: 300px;
  /* placeholder top of header section */
}

/* ---------------PROJECTS SECTION--------------- */

.projects_section_content {
  position: relative;
  margin: 0 auto;
  width: 700px;
  z-index: 99;
}
