/* ---------------PAGE CSS--------------- */

:root {
  --background: #141414;
  --button: #2f2e2e;
  --buttonhover: #424242;
  --browser_background: #1e1e1e;
  --browser_box_shadow: #0f0f0f;
  --browser_bar_background: #191919;
  --browser_bar_buttons_background: #454545;
  --browser_bar_button_g: #53c22b;
  --browser_bar_button_y: #e5bf29;
  --browser-bar-border-top: rgb(47, 47, 47);
  --browser-bar-border-bottom: black;
  --topnav_background: #1d1d1dea;
  --browsershort_second_inside: #1e1e1eb4;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: var(--background);
}

:target::before {
  margin-top: -60px 0 0; /* negative fixed header height */
  /* fixes anchor scrolling position */
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  /* removes outlines from above specified objects */
}

/* SPECIAL PAGE ANIMATIONS */

/* #animatedText {
  -webkit-animation-name: coloredText;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes coloredText {
  0% {
  }
  5%,
  25% {
    text-shadow: -2px -5px 10px #fb0017, -5px 0px 10px #3a00cd,
      -5px 5px 10px #00ff3a;
  }
  15%,
  35% {
    text-shadow: 2px 5px 10px #fb0017, 5px 0px 10px #3a00cd,
      5px -5px 10px #006eff;
  }
  25%,
  45% {
    text-shadow: -2px -5px 10px #fb0017, -5px 0px 10px #3a00cd,
      -5px 5px 10px #ffe600;
  }
  35%,
  65% {
  }
} */

#animatedBox {
  -webkit-animation-name: coloredBox;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes coloredBox {
  0% {
  }
  5%,
  25% {
    box-shadow: -2px -5px 10px #fb0017, -5px 0px 10px #3a00cd,
      -5px 5px 10px #00ff3a;
  }
  15%,
  35% {
    box-shadow: 2px 5px 10px #fb0017, 5px 0px 10px #3a00cd,
      5px -5px 10px #006eff;
  }
  25%,
  45% {
    box-shadow: -2px -5px 10px #fb0017, -5px 0px 10px #3a00cd,
      -5px 5px 10px #ffe600;
  }
  35%,
  65% {
  }
}

/* ---------------SCROLL BAR--------------- */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(98, 98, 98);
}

/* ---------------FLOATING OBJECTS--------------- */

@media (min-width: 1024px) {
  .floatingbutton {
    position: fixed;
    top: 200px;
    right: 0px;
    background-color: transparent;
    color: white;
    /* floating button fixed to screen */
  }

  .floatingMenu {
    display: none;
    position: fixed;
    top: 200px;
    right: 40px;
    z-index: 99;
    /* floating menu backbox */
  }

  .browser_floating {
    border-radius: 7px;
    height: 350px;
    width: 250px;
    background-color: #1e1e1edc;
    color: white;
    box-shadow: 2px 2px 10px #0f0f0f;
    /* floating menu onclick displayed browser */
  }

  .browser_bar_floating {
    background-color: #191919;
    height: 25px;
    border-radius: 7px 7px 0px 0px;
    border-top: rgb(47, 47, 47) 1px solid;
    border-bottom: black 1px solid;
    color: gray;
    padding-left: 25px;
    /* floating menu onclick displayed browser bar */
  }

  span.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
    /* anchers moved up 100px because the nav lays over the body */
  }
}

/* ---------------FONTAWESOME ICONS--------------- */

.fa-cogs {
  font-size: 3em;
  /* first browser icon */
}

.fa-address-book {
  font-size: 2.4em;
  color: #3a3a3a;
  transition: 0.4s;
  /* floating contact button icon */
}

.fa-address-book:hover {
  font-size: 2.4em;
  color: rgb(98, 98, 98);
  transition: 0.4s;
  cursor: pointer;
  /* floating contact button icon */
}

/* ---------------FONTS--------------- 
font-family: "Roboto", sans-serif;  (ALL WEIGHTS)
font-family: "Open Sans", sans-serif;  (REGULAR ONLY)
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

* {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* SPECIAL STATIC IMAGES/LOGOS */

.topnav_left img {
  height: 30px;
  margin-top: 15px;
  /* LOGO */
}

.browser_content_inside img {
  height: 60px;
}

/* .topnav a,
.sidenav a {
  text-decoration: none;
  color: white;
  padding: 0px 15px 0px 0px;
} */

/* TOP NAVIGATION BAR */

.topnav_back {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 98;
  width: 100%;
  min-height: 60px;
  background-color: var(--topnav_background);
}

.topnav {
  position: fixed;
  display: flex;
  top: 0;
  z-index: 99;
  width: 1200px;
  height: 60px;
}

.topnav_left {
  z-index: 99;
  width: 30%;
}

.topnav_right {
  z-index: 99;
  width: 70%;
  text-align: center;
  align-items: center;
  margin-top: 15px;
}

/* TOPNAV RIGHT NAV LINKS */

.nav_links {
  float: right;
  display: flex;
}

.nav_link {
  color: rgb(179, 179, 179);
  width: 150px;
  height: 25px;
  text-align: center;
  margin-left: 20px;
  background-color: var(--button);
  border-radius: 4px;
  border-top: var(--browser-bar-border-top) 1px solid;
  border-bottom: var(--browser-bar-border-bottom) 1px solid;
  transition: 0.4s;
  padding-top: 4px;
}

.nav_link:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: var(--buttonhover);
  transition: 0.4s;
}

/* ---------------BROWSER STYLE CSS--------------- */
/* BROWSER STYLE WINDOWS CSS SETTINGS FOR MAIN BROWSER WINDOWS */

.browser {
  border-radius: 7px;
  height: 650px;
  width: 100%;
  background-color: var(--browser_background);
  color: white;
  box-shadow: 2px 2px 10px var(--browser_box_shadow);
}

.browser_content {
  display: flex;
  height: 95%;
  /* flex box for header section (3 boxes) */
}

.noflex {
  display: block;
}

.contentleft {
  width: 20%;
  margin-right: 10%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* left content of flex box (2boxes on top of each other) */
}
.contentright {
  width: 70%;
  align-items: center;
  margin: 0 auto;
  /* right content of flex box (1 large box) */
}

.browserright {
  margin-top: 10%;
  height: 650px;
  /* flex box settings right large flex box  */
}

.browsershort {
  height: 240px;
  margin-bottom: 30px;
  /* first flex box left settings */
}

.browsershort_top {
  margin-left: 30px;
  padding-top: 5px;
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: 800;
  /* first flex box left content */
}

.dot_style {
  color: red;
  font-size: 1.5em;
  line-height: 60px;
  /* span dot style red */
}

.browsershort_bottom {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 55%;
  /*  first flex box left content */
}

.browsershort_bottom_section {
  width: 20%;
  text-align: center;
  margin: 10px 30px;
  font-weight: 100;
  /* inside first flex box content */
}

.browsershort_bottom_section .fas {
  font-size: 2.6em;
  margin-top: 10px;
  color: rgb(209, 209, 209);
}

.browsershort_sec {
  height: 450px;
  background-image: url(/portfolio_project/images/01.jpg);
  /* background-image: url(./images/01.jpg); */
  background-size: cover;
  margin: 0 auto;
  /* second flex box left settings */
}

.browsershort_sec_inside {
  margin-top: 220px;
  height: 200px;
  width: 300px;
  background-color: var(--browsershort_second_inside);
  margin: 0 auto;
  /* flex box settings inside second flex box left settings */
}

.browser_content_sec_inside {
  height: 90%;
  margin-top: 120px;
  /* inside inside left sec flex box */
}

.browser_content_inside {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 50px;
  /* inside inside left sec flex box */
}

.browser_bar {
  display: flex;
  background-color: var(--browser_bar_background);
  height: 30px;
  border-radius: 7px 7px 0px 0px;
  width: 100%;
  border-top: var(--browser-bar-border-top) 1px solid;
  border-bottom: var(--browser-bar-border-bottom) 1px solid;
  align-items: center;
}

.nobuttons {
  justify-content: center;
  align-items: center;
  color: var(--browser_bar_buttons_background);
  font-size: 90%;
  min-width: 90%;
  text-align: center;
  /* browser tab text either NO BUTTON BROWSER or NEXT BUTTON BROWSER */
}

/* BUTTONS */

.browser_bar_buttons {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
  width: 60px;
  height: 20px;
  align-items: center;
}

.browser_bar_button {
  width: 12px;
  height: 12px;
  background-color: var(--browser_bar_buttons_background);
  border-radius: 100px;
  margin-right: 5px;
}

.browser_bar_button_y {
  width: 12px;
  height: 12px;
  background-color: var(--browser_bar_button_y);
  border-radius: 100px;
  margin-right: 5px;
}

.browser_bar_button_g {
  width: 12px;
  height: 12px;
  background-color: var(--browser_bar_button_g);
  border-radius: 100px;
  margin-right: 5px;
}

/* ---------------HEADER SECTION--------------- */
/* HEADER SIZE, BACKGROUND, GRADIANT, SPAZING */

.header_section {
  height: 790px;
  background-color: var(--background);
}

.header_section_content {
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  width: 1200px;
  z-index: 90;
  /* header section content */
}

.header_section_content_left {
  margin-right: 2%;
  width: 66%;
}

.header_section_content_right {
  width: 32%;
}

.header_section_placeholder {
  height: 300px;
  /* placeholder top of header section */
}

.browserright_inside {
  display: flex;
  width: 100%;
  margin: 2% 0%;
  height: 15%;
}

.browserright_inside button {
  border: red 1px solid;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  background-color: #cf2b1e;
  color: white;
  font-weight: 600;
  transition: 0.5s;
  cursor: pointer;
}

.browserright_inside button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.rightbutton {
  margin: 0 auto;
  margin-top: 15px;
}

.browserright_inside_left {
  width: 35%;
  height: 100%;
  text-align: center;
  align-items: center;
}

.browserright_inside_left img {
  height: 65px;
  margin-top: 20px;
}

.browserright_inside_right {
  width: 65%;
  height: 100%;
  border-bottom: rgb(51, 51, 51) 1px solid;
  margin-right: 40px;
  align-content: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.browserright_inside_right h3 {
  font-size: 1.1em;
  font-weight: 400;
}

.noborder {
  border: none;
}

/* ---------------SKILLS SECTION--------------- */

.skills_section {
  height: 770px;
}

.skillsbrowser {
  height: 650px;
}

.skills_section_content {
  position: relative;
  margin: 0 auto;
  width: 1050px;
  z-index: 90;
}

.browser_content_skills_left {
  width: 30%;
  background-color: var(--browser_bar_background);
  padding-top: 10px;
}

.browser_content_skills_title {
  margin-left: 20px;
  color: gray;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.browser_content_skills_left_switch {
  padding: 8px 50px;
  transition: 0.3s;
  font-size: 92%;
  line-height: 22px;
  cursor: pointer;
}

.active,
.browser_content_skills_left_switch:hover {
  background-color: rgb(41, 41, 41);
  transition: 0.3s;
}

.browser_content_skills_left_switch img {
  height: 14px;
  margin-right: 8px;
}

.browser_content_skills_right {
  width: 70%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . .";
}

.grid-content {
  height: 166px;
  width: 107px;
  padding: 30px 20px 10px;
  margin: 0 auto;
  text-align: center;
  transition: 0.3s;
  /* border: red 1px solid; */
}

.grid-content:hover {
  background-color: rgb(63, 63, 63);
  transition: 0.3s;
}

.grid-content img {
  height: 65px;
}

.grid-container_projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". .";
  height: 430px;
}

.grid-content_projects {
  padding: 20px 20px 30px;
  margin: 0 auto;
  text-align: center;
  transition: 0.3s;
  width: 89%;
  height: 200px;
  transition: 0.8s;
  cursor: pointer;
}

.grid-content_projects:hover {
  background-color: rgb(63, 63, 63);
  transition: 0.3s;
}

.grid-content_projects img {
  height: 150px;
}

/* .grid-content_projects:hover #mmmadame_pic {
  transform: scale(1.5);
  transition: 0.8s;
} */

.graybg {
  background-color: rgb(42, 42, 42);
  cursor: pointer;
}

.graybg img {
  height: 65px;
}

.biggrid {
  width: 694px;
  height: 65px;
  margin-top: 70px;
}

.skills_tools {
  display: block;
}

.skills_exp {
  display: none;
}

.skills_projects {
  display: none;
}

.exp_company {
  margin-top: 5px;
  font-weight: 400;
  color: gray;
}

.exp_company_white {
  margin-top: 5px;
  font-weight: 400;
  color: white;
}

.exp_titlejob {
}

/* ---------------PROJECTS SECTION--------------- */

.projects_section {
  height: 680px;
}

.projectsbrowser {
  height: 600px;
}

.projects_section_content {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  z-index: 90;
}

.projectsnoflex {
  display: block;
  /* display projects content block-wise */
}

.projects_top_content {
  height: 20%;
  padding: 10px 40px 10px 40px;
  border: gray 1px solid;
  /* title and description of projects browser window */
}

.browser_content_projects_flex {
  display: none;
  border: gray 1px solid;
  height: 35%;
  /* flex box for single project box */
}

.projects_flex_inside {
  display: flex;
  margin: 0px 20px;
  /* flex box inside single project box */
}

/* ---------------PROGRESS SECTION--------------- */

.progress_section {
  height: 350px;
}

.progressbrowser {
  height: 250px;
}

.progress_section_content {
  position: relative;
  margin: 0 auto;
  width: 1050px;
  z-index: 90;
}

/* ---------------ABOUT SECTION--------------- */

.about_section {
  height: 530px;
}

.aboutbrowser {
  height: 430px;
}

.about_section_content {
  position: relative;
  margin: 0 auto;
  width: 950px;
  z-index: 90;
}

.aboutcontent {
  display: flex;
}

.about_left {
  width: 60%;
  padding: 30px;
  text-align: justify;
}

.about_right {
  width: 35%;
  margin: 0 auto;
  padding: 50px;
}

.about_right img {
  height: 250px;
}

/* ---------------CONTACT SECTION--------------- */

.contact_section {
  height: 450px;
}

.contactbrowser {
  height: 380px;
}

.contact_section_content {
  position: relative;
  margin: 0 auto;
  width: 650px;
  z-index: 90;
}

.contactbox {
  height: 80%;
  width: 75%;
  margin: 5% auto;
}

.contactboxinside {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.contactboxone {
  height: 15%;
}

.contactboxtwo {
  height: 15%;
}

.contactboxthr {
  height: 50%;
}

.contactboxfou {
  height: 20%;
  margin-top: -10px;
}

.name__contact {
  background-color: #2f2e2e;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  color: white;
  padding-left: 20px;
  font-size: 20px;
}

.email__contact {
  background-color: #2f2e2e;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  color: white;
  padding-left: 20px;
  font-size: 20px;
}

.yourmessage__contact {
  background-color: #2f2e2e;
  border: none;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 110px;
  max-height: 110px;
  min-height: 110px;
  color: white;
  padding-left: 20px;
  resize: none;
  padding-top: 10px;
  font-size: 20px;
}

.submitbutton__contact {
  background-color: #326dd7;
  border: none;
  border-radius: 2px;
  height: 45px;
  width: 165px;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.submitbutton__contact:hover {
  background-color: #1f4fa8;
  transition: 0.5s;
}

.label {
  width: 50px;
  border: red 1px solid;
}

/* ---------------FOOTER SECTION--------------- */

.footer_section {
  height: 100px;
}

.footerbrowser {
  height: 100px;
}

/* .footer_section_content {
  position: relative;
  margin: 0 auto;
  width: 650px;
  z-index: 90;
} */

/* MEDIA QUERY MOBILE */

@media (max-width: 375px) {
  .header_section {
    /* height: 790px; */
    background-color: var(--background);
    margin-left: 5%;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
  }
  .header_section_content {
    display: inline-block;
    margin: 0 auto;
    margin-top: 100px;
    /* width: 90%; */
    z-index: 90;
    text-align: center;
    /* header section content */
  }
  .topnav {
    position: fixed;
    display: flex;
    top: 0;
    z-index: 99;
    width: 100vw;
    height: 60px;
  }

  .topnav_back {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 98;
    width: 100vw;
    min-height: 60px;
    background-color: var(--topnav_background);
  }

  .browser {
    display: inline-block;
    border-radius: 7px;
    height: 650px;
    width: 90vw;
    background-color: var(--browser_background);
    color: white;
    box-shadow: 2px 2px 10px var(--browser_box_shadow);
  }

  .browsershort {
    height: 32vh;
    width: 90vw;
    margin-bottom: 30px;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 20px;
    /* first flex box left settings */
  }

  .browsershort_sec {
    height: 50vh;
    background-image: url(/portfolio_project/images/01.jpg);
    /* background-image: url(./images/01.jpg); */
    background-size: cover;
    margin: 0 auto;
    /* second flex box left settings */
  }

  .browsershort_sec_inside {
    height: 200px;
    width: 60%;
    background-color: var(--browsershort_second_inside);
    margin: 0 auto;
    /* flex box settings inside second flex box left settings */
  }

  .browsershort_bottom_section .fas {
    font-size: 2em;
    margin-top: 5px;
    color: rgb(209, 209, 209);
  }

  .browserright {
    margin-top: 10%;
    height: 650px;
    width: 90vw;
    /* flex box settings right large flex box  */
  }

  .header_section_content {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    z-index: 90;
    /* header section content */
  }
}
