/* ---------------PAGE CSS--------------- */

:root {
  --background: #141414;
  --button: #2f2e2e;
  --buttonhover: #424242;
  --browser_background: #1e1e1e;
  --browser_box_shadow: #0f0f0f;
  --browser_bar_background: #191919;
  --browser_bar_buttons_background: #454545;
  --browser_bar_button_g: #53c22b;
  --browser_bar_button_y: #e5bf29;
  --browser-bar-border-top: rgb(47, 47, 47);
  --browser-bar-border-bottom: black;
  --topnav_background: #1d1d1dea;
  --browsershort_second_inside: #1e1e1eb4;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: var(--background);
}

:target::before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
  /* fixes anchor scrolling position */
}

/* ---------------SCROLL BAR--------------- */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(98, 98, 98);
}

/* ---------------FLOATING OBJECTS--------------- */

.floatingbutton {
  position: fixed;
  top: 200px;
  right: 0px;
  background-color: transparent;
  color: white;
  /* floating button fixed to screen */
}

.floatingMenu {
  display: none;
  position: fixed;
  top: 200px;
  right: 40px;
  z-index: 99;
  /* floating menu backbox */
}

.browser_floating {
  border-radius: 7px;
  height: 350px;
  width: 250px;
  background-color: #1e1e1edc;
  color: white;
  box-shadow: 2px 2px 10px #0f0f0f;
  /* floating menu onclick displayed browser */
}

.browser_bar_floating {
  background-color: #191919;
  height: 25px;
  border-radius: 7px 7px 0px 0px;
  border-top: rgb(47, 47, 47) 1px solid;
  border-bottom: black 1px solid;
  color: gray;
  padding-left: 25px;
  /* floating menu onclick displayed browser bar */
}

/* ---------------FONTAWESOME ICONS--------------- */

.fa-cogs {
  font-size: 3em;
  /* first browser icon */
}

.fa-address-book {
  font-size: 2.4em;
  color: #3a3a3a;
  transition: 0.4s;
  /* floating contact button icon */
}

.fa-address-book:hover {
  font-size: 2.4em;
  color: rgb(98, 98, 98);
  transition: 0.4s;
  cursor: pointer;
  /* floating contact button icon */
}

/* ---------------FONTS--------------- 
font-family: "Roboto", sans-serif;  (ALL WEIGHTS)
font-family: "Open Sans", sans-serif;  (REGULAR ONLY)
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

* {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* SPECIAL STATIC IMAGES/LOGOS */

.topnav_left img {
  height: 30px;
  margin-top: 15px;
  /* LOGO */
}

.browser_content_inside img {
  height: 60px;
}

/* .topnav a,
.sidenav a {
  text-decoration: none;
  color: white;
  padding: 0px 15px 0px 0px;
} */

/* TOP NAVIGATION BAR */

.topnav_back {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 98;
  width: 100%;
  min-height: 60px;
  background-color: var(--topnav_background);
}

.topnav {
  position: fixed;
  display: flex;
  top: 0;
  z-index: 99;
  width: 1200px;
  height: 60px;
}

.topnav_left {
  z-index: 99;
  width: 30%;
}

.topnav_right {
  z-index: 99;
  width: 70%;
  text-align: center;
  align-items: center;
  margin-top: 15px;
}

/* TOPNAV RIGHT NAV LINKS */

.nav_links {
  float: right;
  display: flex;
}

.nav_link {
  color: rgb(179, 179, 179);
  width: 150px;
  height: 30px;
  text-align: center;
  margin-left: 20px;
  background-color: var(--button);
  border-radius: 4px;
  border-top: var(--browser-bar-border-top) 1px solid;
  border-bottom: var(--browser-bar-border-bottom) 1px solid;
  transition: 0.4s;
}

.nav_link:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: var(--buttonhover);
  transition: 0.4s;
}

/* ---------------BROWSER STYLE CSS--------------- */
/* BROWSER STYLE WINDOWS CSS SETTINGS FOR MAIN BROWSER WINDOWS */

.browser {
  border-radius: 7px;
  height: 650px;
  width: 100%;
  background-color: var(--browser_background);
  color: white;
  box-shadow: 2px 2px 10px var(--browser_box_shadow);
}

.browser_content {
  display: flex;
  height: 95%;
  /* flex box for header section (3 boxes) */
}

.contentleft {
  width: 20%;
  margin-right: 10%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* left content of flex box (2boxes on top of each other) */
}
.contentright {
  width: 70%;
  align-items: center;
  margin: 0 auto;
  /* right content of flex box (1 large box) */
}

.browserright {
  margin-top: 5%;
  height: 750px;
  /* flex box settings right large flex box  */
}

.browsershort {
  height: 200px;
  margin-bottom: 30px;
  /* first flex box left settings */
}

.browsershort_sec {
  height: 550px;
  /* background-image: url(/portfolio_project/images/01.jpg); */
  background-image: url(./images/01.jpg);
  background-size: cover;
  margin: 0 auto;
  /* second flex box left settings */
}

.browsershort_sec_inside {
  margin-top: 220px;
  height: 200px;
  width: 300px;
  background-color: var(--browsershort_second_inside);
  margin: 0 auto;
  /* flex box settings inside second flex box left settings */
}

.browser_content_sec_inside {
  height: 90%;
  margin-top: 120px;
  /* inside inside left sec flex box */
}

.browser_content_inside {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 50px;
  /* inside inside left sec flex box */
}

.browser_bar {
  display: flex;
  background-color: var(--browser_bar_background);
  height: 30px;
  border-radius: 7px 7px 0px 0px;
  width: 100%;
  border-top: var(--browser-bar-border-top) 1px solid;
  border-bottom: var(--browser-bar-border-bottom) 1px solid;
  align-items: center;
}

.nobuttons {
  justify-content: center;
  align-items: center;
  color: var(--browser_bar_buttons_background);
  font-size: 90%;
  min-width: 90%;
  text-align: center;
  /* browser tab text either NO BUTTON BROWSER or NEXT BUTTON BROWSER */
}

/* BUTTONS */

.browser_bar_buttons {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
  width: 60px;
  height: 20px;
  align-items: center;
}

.browser_bar_button {
  width: 12px;
  height: 12px;
  background-color: var(--browser_bar_buttons_background);
  border-radius: 100px;
  margin-right: 5px;
}

.browser_bar_button_y {
  width: 12px;
  height: 12px;
  background-color: var(--browser_bar_button_y);
  border-radius: 100px;
  margin-right: 5px;
}

.browser_bar_button_g {
  width: 12px;
  height: 12px;
  background-color: var(--browser_bar_button_g);
  border-radius: 100px;
  margin-right: 5px;
}

/* ---------------HEADER SECTION--------------- */
/* HEADER SIZE, BACKGROUND, GRADIANT, SPAZING */

.header_section {
  height: 850px;
  background-color: var(--background);
}

.header_section_content {
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  width: 1200px;
  z-index: 90;
  /* header section content */
}

.header_section_content_left {
  margin-right: 5%;
  width: 65%;
}

.header_section_content_right {
  width: 30%;
}

.header_section_placeholder {
  height: 300px;
  /* placeholder top of header section */
}

/* ---------------SKILLS SECTION--------------- */

.skills_section {
  height: 770px;
}

.skillsbrowser {
  height: 650px;
}

.skills_section_content {
  position: relative;
  margin: 0 auto;
  width: 1050px;
  z-index: 90;
}

.browser_content_skills_left {
  width: 30%;
  background-color: var(--browser_bar_background);
}

.browser_content_skills_right {
  width: 70%;
}

/* ---------------PROJECTS SECTION--------------- */

.projects_section {
  height: 680px;
}

.projectsbrowser {
  height: 600px;
}

.projects_section_content {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  z-index: 90;
}

/* ---------------PROGRESS SECTION--------------- */

.progress_section {
  height: 350px;
}

.progressbrowser {
  height: 250px;
}

.progress_section_content {
  position: relative;
  margin: 0 auto;
  width: 1050px;
  z-index: 90;
}

/* ---------------ABOUT SECTION--------------- */

.about_section {
  height: 530px;
}

.aboutbrowser {
  height: 430px;
}

.about_section_content {
  position: relative;
  margin: 0 auto;
  width: 950px;
  z-index: 90;
}

/* ---------------CONTACT SECTION--------------- */

.contact_section {
  height: 350px;
}

.contactbrowser {
  height: 400px;
}

.contact_section_content {
  position: relative;
  margin: 0 auto;
  width: 650px;
  z-index: 90;
}

/* ---------------FOOTER SECTION--------------- */

.footer_section {
  height: 200px;
}

.footerbrowser {
  height: 200px;
}

/* .footer_section_content {
  position: relative;
  margin: 0 auto;
  width: 650px;
  z-index: 90;
} */
